<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            .subHeader { 
                color: #A6A6A6;
                font-style: italic;
                font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
                font-size: 1em; 
            }
            #footer {
                font-family:arial,helvetica,sans-serif;
                font-size:12px;
                color:#858585;
            }
        </style>
    </head>
    <body>
        <div>
            <p>
                {{ template "logo.html" }}
            <p class="subHeader">
                <!-- TODO: Localize this string -->
                The Borderless Payment System.   
            </p>
        </div>
    